<html>
    <form action="updatedit" method="POST" enctype="multipart/form-data">
        Restaurant_Name: <input type="text" name="${parsedurl.query.name}" value=" "minlength=1><br>
        Borough: <input type="text" name="${parsedurl.query.borough"value=""  minlength=1><br>
      Cuisine: <input type="text" name="${parsedurl.query.cuisine}" value="" minlength=1><br>
        Street: <input type="text" name="${parsedurl.query.street}"value="" minlength=1><br>
        Building: <input type="text" name="${parsedurl.query.building}" value=""minlength=1><br>
        Zipcode: <input type="text" name="${parsedurl.query.zipcode}" value=""minlength=1><br>
        Coord_X: <input type="text" name="${parsedurl.query.coord_1}"value="" minlength=1><br>
        Coord_Y: <input type="text" name="${parsedurl.query.coord_2}"value="" minlength=1><br>
        Score: <input type="text" name="${parsedurl.query.score}" value=""minlength=1><br>-->

        

        <input type="file" name="filetoupload"><br>
        <input type="submit" value="Upload">
    </form>
  
</html>
