<HTML>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <BODY>
        
          <head>
            <title>Welcome</title>
          </head>
          <br></br>
          Hello
          <br></br>
          <br><a href="/create">Create Restaurant</a></br>

          <br><a href="/restaurant">Collection</a> </br>

          <br><input name="Search"></br>
          <form action="/getlogout" >
            
             <input type="submit" value="logout">
         </form>
        </BODY>
        
        </HTML>
        