<html>
    <form action="/getname" >
       Your name, please: <input type="text" name="name" id="name"><br>
        Password: <input type="text" name="password" id="password"><br>
        <input type="submit" value="Submit">
    </form>
</html>
