<html>
    <form action="uploadrest" method="post" enctype="multipart/form-data">
        Restaurant_Name: <input type="text" name="name" minlength=1><br>
        Borough: <input type="text" name="borough" minlength=1><br>
        Cuisine: <input type="text" name="cuisine" minlength=1><br>
        Street: <input type="text" name="street" minlength=1><br>
        Building: <input type="text" name="building" minlength=1><br>
        Zipcode: <input type="text" name="zipcode" minlength=1><br>
        Coord_X: <input type="text" name="Coord_1" minlength=1><br>
        Coord_Y: <input type="text" name="Coord_2" minlength=1><br>
        Score: <input type="text" name="score" minlength=1><br>

        

        <input type="file" name="filetoupload"><br>
        <input type="submit" value="Upload">
    </form>
  
</html>
